* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.nav-bar {
    display: flex;
    overflow: hidden;
    position: fixed;
    gap: 5rem;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: rgb(249, 216, 216);
}

.nav-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

/* Home Page */

.home-heading {
    text-align: center;
    /* margin-top: 2rem; */
    font-size: 3rem;
}

hr {
    margin-top: 2rem;
    margin-left: 35rem;
    margin-right: 35rem;
}

.main-home-container {
    text-align: center;
    background-color: rgb(252, 239, 239);
    height: 50rem;
}

.C-blance-box {
    margin-top: 2rem;
    background-color: rgb(249, 216, 216);
    margin-left: 35rem;
    margin-right: 35rem;
    border-radius: 0.5rem;
    height: 8rem;
}

.Current-blance-text {
    background-color: lightcoral;
    height: 1.7rem;
    border-radius: 0.5rem 0rem;
    margin-right: 16rem;
    color: white;
}

.Current-blance-price {
    margin-top: 1rem;
    font-size: 2rem;
}

.two-price-box {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.Income-box {
    background-color: lightcoral;
    border-radius: 0.5rem;
    width: 14rem;
    height: 7rem;
}

.Expense-box {
    background-color: lightcoral;
    border-radius: 0.5rem;
    width: 14rem;
    height: 7rem;
}

.Income-text {
    background-color: rgb(249, 216, 216);
    height: 1.7rem;
    border-radius: 0.5rem 0rem;
    color: black;
    margin-top: 1.5rem;
    margin-left: 4rem;
}

.Income-price {
    font-size: 1.5rem;
    padding-top: 2rem;
}

.Expense-text {
    background-color: rgb(249, 216, 216);
    height: 1.7rem;
    border-radius: 0.5rem 0rem;
    color: black;
    margin-top: 1.5rem;
    margin-left: 4rem;
}

.Expense-price {
    font-size: 1.5rem;
    padding-top: 2rem;
}

.Transaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35rem;
    margin-right: 35rem;
}

.T-heading {
    margin-right: 15rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.T-deatils {
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.category-name {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 1rem;
    margin-left: 2rem;
}

.INC-name {
    font-size: 1.5rem;
    color: black;
}

.INC-date {
    color: black;
}

.amount {
    float: right;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.Notes-box {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

/* Add Page */
.heading-box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.AddUser {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 214, 214);
}

.income-box {
    border: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: lightcoral;
    width: 15rem;
    text-align: center;
}

.expense-box {
    cursor: pointer;
    border: none;
    font-size: 2rem;
    text-align: center;
    width: 15rem;
    background-color: rgb(250, 182, 182);
}

form {
    margin-top: 2rem;
    text-align: center;
}

.center-text {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    margin-right: 18rem;
}

span {
    color: red;
    cursor: pointer;
}

.save-btn {
    margin-bottom: 2rem;
    cursor: pointer;
    /* width: 10rem; */
    /* height: 2.5rem; */
    font-size: 1.5rem;
    border-radius: 0.6rem;
    border: none;
    background-color: rgb(248, 214, 214);
}

/* Category Page */
.category-heading {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;

}

.two-colunm {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.income {
    border: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: lightcoral;
    width: 50rem;
    text-align: center;
}

.expance {
    border: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: rgb(250, 182, 182);
    width: 50rem;
    text-align: center;
}

.category-list {
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    width: 40rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid whitesmoke;
}

.list-name {
    margin-left: 2rem;
    margin-right: 25rem;
}